@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200&display=swap");

    body {
        margin: 0;
        font-family: nunito;
        text-align: center;
        text-align: -webkit-center;

    }
    header{
        padding-top: 100px;
        padding-right: 300px;
        padding-left: 300px;
        padding-bottom: 100px;
        background-color: #ff00bf;
    }
    main{
        margin-top: 80px;
        margin-bottom: 100px;
    }
    footer{
        background: rgb(246, 240, 242);
        margin: 0;
        padding-top: 6px;
        padding-bottom: 6px;
        
    }
    h6{
        margin:5px;
    }
    #photoDiv {
      width: 17rem;
      height: 17rem;
      position: relative;
      overflow: hidden;
      border-radius: 50%;
    }

    #profile_photo {
      display: inline;
      box-sizing: border-box;
      margin: 0 auto;
      height: 100%;
      width: auto;
    }

    #intro{
        width: 600px;
        box-sizing: border-box;
        font-weight: bold;

    }
    .api_details{
        margin-top: 50px;
        width: 700px;
        text-align: left;
        text-align: -webkit-left;
        font-weight:lighter;
    }
    .api_details > div > p{
        margin: 0;
        padding: 0;
    }
    .code_snippet{
        background-color: #ffe0f7;
    }

    body > main > div.api_details > div > div > pre{
        margin: 0;
        padding: 0;
    }

    .api_form{
        font: 95% Arial, Helvetica, sans-serif;
        max-width: 400px;
        margin: 10px auto;
        padding: 16px;
        background: #F7F7F7;
        margin-top: 100px;

    }
    .api_form h1{
        background: #ffe0f7;
        padding: 20px 0;
        font-size: 140%;
        font-weight: 300;
        text-align: center;
        margin: -16px -16px 16px -16px;
    }
    .api_form input[type="text"],
    .api_form input[type="date"],
    .api_form input[type="datetime"],
    .api_form input[type="email"],
    .api_form input[type="number"],
    .api_form input[type="search"],
    .api_form input[type="time"],
    .api_form input[type="url"],
    .api_form textarea,
    .api_form select 
    {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
        margin-bottom: 4%;
        border: 1px solid #ccc;
        padding: 3%;
        color: #555;
        font: 95% Arial, Helvetica, sans-serif;
    }
    .api_form input[type="text"]:focus,
    .api_form input[type="date"]:focus,
    .api_form input[type="datetime"]:focus,
    .api_form input[type="email"]:focus,
    .api_form input[type="number"]:focus,
    .api_form input[type="search"]:focus,
    .api_form input[type="time"]:focus,
    .api_form input[type="url"]:focus,
    .api_form textarea:focus,
    .api_form select:focus
    {
        box-shadow: 0 0 5px #ffe0f7;
        padding: 3%;
        border: 1px solid #ffe0f7;
    }
    
    .api_form input[type="submit"],
    .api_form input[type="button"]{
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
        padding: 3%;
        background: #ffe0f7;
        border-bottom: 2px solid #ffe0f7;
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;	
    }
    .api_form input[type="submit"]:hover,
    .api_form input[type="button"]:hover{
        background: #e7cae0;
    }

    #api_result{
        margin-top: 30px;
    }
    .pre_snippet{
        white-space: pre-line;
        margin-left: 25px !important;
    }